html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
}



.titrePage {
  text-align: right;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serifx;
  font-weight: bold;
  font-size: 200%;

}

html[data-theme="light"] {
  --text: #000000;
  --background: #fcfdf7;
  --primary: #2e7676;
  --secondary: #b9e9e9;
  --accent: #a33333;
}

html[data-theme="dark"] {
  --text: #ffffff;
  --background: #070802;
  --primary: #89d1d1;
  --secondary: #164646;
  --accent: #cc5c5c;
}

.container{
  display: inline-grid;
  grid-template-columns: auto auto auto ;
  padding: 0.08vw;
  }

.grid-item{
  text-align: center;
  padding: 10px;
  margin-right: 0.3vw;
    margin-left: 0.3vw;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
}

.Pdg{
  display: block;
  max-width: 24vw;
  max-height: 24vh;
} 

#imghero {
  width: 100%;
}